* {
  margin: 0;
  padding: 0; }

body {
  font: 15px "Helvetica Neue", Helvetica, Sans-Serif;
  line-height: 1.3;
  background-color: white; }

.clear {
  clear: both; }

#page-wrap {
  width: 800px;
  margin: 40px auto auto; }

h1 {
  background: url(assets/logo.png) left center no-repeat;
  margin: 0 0 15px 0;
  padding: 0 0 0 64px;
  font-size: 39.375px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1.8;
  border-bottom: 1px solid #999999; }

h2 {
  font-size: 18.75px;
  margin: 0 0 5.625px 0;
  position: relative; }
  h2 span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-style: italic;
    font-family: Georgia, Serif;
    font-size: 15px;
    color: #999999;
    font-weight: normal; }

p {
  margin: 0 0 15px 0; }

a {
  text-decoration: none;
  border-bottom: 1px dotted #999999;
  color: #999999; }

ul {
  margin: 0 0 30px 15.938px; }

#objective {
  width: 600px;
  float: left; }
  #objective p {
    font-family: Georgia, Serif;
    font-style: italic;
    color: #666666; }

dt {
  font-style: italic;
  font-weight: bold;
  font-size: 16.875px;
  text-align: right;
  padding: 0 24.375px 0 0;
  width: 150px;
  float: left;
  height: 93.75px;
  border-right: 1px solid #999999; }

dd {
  width: 600px;
  float: right; }
  dd.clear {
    float: none;
    margin: 0;
    height: 14.063px; }
